.places {
  width: 83.11%;
  margin: 124px auto 0;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 90.63%;
    margin: 92px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: 93.75%;
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 500px) {
  .places {
    width: 100%;
    margin: 64px 0;
  }
}