.place__website_url_link {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  height: 22px;
  font-family: 'Inter';
  text-decoration-line: underline;
  color: white;
}

.place__website_url_link:hover {
  text-decoration: none;
  opacity: 0.8;
}