.cover__subtitle {
  width: 360px;
  margin: 429px 412px 245px;
  position: absolute;
  z-index: 2;
  color: #FFF;
  text-align: center;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin: 379px 332px 195px 332px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 299px 204px 115px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 288px;
    margin: 119px 16px 33px;
  }
}