.cover__subtitle {
  width: 30.41%;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1030px) {
  .cover__subtitle {
    width: 35.16%;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 46.87%;
  }
}

@media screen and (max-width: 430px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 90%;
  }
}