.header__logo {
  width: 14.86%;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 18.97%;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 24.44%;
  }
}

@media screen and (max-width: 380px) {
  .header__logo {
    width: 49.31%;
  }
}