.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 28px auto 0;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90.63%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width: 500px) {
  .header {
    width: 90%;
    margin: 16px auto 48px;
  }
}