.intro__header {
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
}

@media screen and (max-width: 320px) {
  .intro__header {
    width: 230px;
    font-size: 32px;
    line-height: 35px;
  }
}