.lead__title {
  margin: 56px auto 0;
  font-weight: 900;
  font-size: 96px;
  text-align: center;
  line-height: 100px;
  font-family: 'Inter';
  min-height: 88px;
  width: 73%;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 48px auto 0;
    width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 720px;
    height: 200px;
    text-align: center;
    font-size: 96px;
    font-family: Inter;
    font-weight: 900;
    line-height: 100px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 288px;
    height: 88px;
    text-align: center;
    font-size: 40px;
    font-family: Inter;
    font-weight: 900;
    line-height: 44px;
    margin: 0 16px;
  }
}