.lead__title {
  margin: 56px auto 0;
  font-weight: 900;
  font-size: 96px;
  text-align: center;
  font-style: normal;
  line-height: 100px;
  width: 73%;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 48px auto 0;
    width: 77.59%;
  }
}

@media screen and (max-width: 810px) {
  .lead__title {
    width: 93.75%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 713px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 380px) {
  .lead__title {
    width: 90%;
    margin: 0 auto;
  }
}