.intro {
  width: 58.28%;
  margin: 92px 0 92px 8.45%;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 67.38%;
    margin: 0 0 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: 91%;
    margin: 0 auto 64px;
  }
}