.cover {
  width: 100%;
  margin: 130px 0 95px;
  position: relative;
}

@media screen and (max-width: 1124px) {
  .cover {
    width: 100%;
    margin: 145px 0 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px 0 0;
  }
}