.cover {
  max-width: 1184px;
  min-width: 320px;
  max-height: 740px;
  min-height: 200px;
  margin: 92px 48px;
  position: relative;
}

.cover__background {
  width: 1184px;
  height: 740px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.cover__opacity {
  opacity: 0.800000011920929;
  background: #2A2C2F;
}

.cover__opacity:hover {
  opacity: 0.300000011920929;
  background: #2A2C2F;
}