.cover__title {
  position: absolute;
  top: 245px;
  left: 312px;
  width: 560px;
  height: 152px;
  z-index: 2;
  margin: 0 0 32px 0;

  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-family: "Inter";
  font-weight: 900;
  line-height: 76px;
}