.place {
  display: grid;
  grid-template-areas: "places__title places__website"
    "places__image places__text";
  grid-template-columns: 460px 484px;
  grid-gap: 48px 40px;
  margin-bottom: 80px;
  align-self: flex-end;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width:850px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-gap: 48px 28px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    grid-template-areas: "places__title"
      "places__website"
      "places__image"
      "places__text";
    grid-template-columns: 320px;
    gap: 0;
    margin-bottom: 50px;
  }
}