.place {
  display: grid;
  grid-template-columns: 46.75% 49.18%;
  grid-template-rows: 23.03% 78.77%;
  grid-gap: 2.27% 3.07%;
  margin-bottom: 2.36%;
  height: 18%;
  overflow: hidden;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 47.41% 49.14%;
    grid-template-rows: 23.75% 68.75%;
    grid-gap: 7.5% 3.45%;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 47.22% 48.89%;
    grid-template-rows: 15.83% 75.9%;
    grid-gap: 7.5% 3.89%;
    margin-bottom: 80px;
  }

  .place:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 50px;
  }
}