.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 152px 460px;
  grid-gap: 48px 40px;
  margin-bottom: 80px;
}

.place:nth-child(2) {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 76px 460px;
  grid-gap: 48px 40px;
  margin-bottom: 80px;
}

.place:nth-child(3) {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 76px 460px;
  grid-gap: 48px 40px;
  margin-bottom: 80px;
}

.place:nth-child(5) {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 76px 460px;
  grid-gap: 48px 40px;
}