.footer {
  width: 93.5%;
  margin: 0 auto 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.75%;
    margin: 88px auto 24px auto;
  }
}

@media screen and (max-width: 380px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin: 64px 0 24px;
    width: 58.13%;
  }
}