.footer {
  width: 100%;
  margin: 0 auto 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1025px) {
  .footer {
    width: 90.75%;
    margin: 0 auto 24px auto;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.75%;
    margin: 88px auto 24px auto;
    flex-direction: column;
  }
}

@media screen and (max-width: 510px) {
  .footer {
    width: 58.13%;
    margin: 64px 0 24px 16px;
  }
}