.place__header {
  width: 460px;
  max-height: 152px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 768px) {
  .place__header {
    width: 340px;
    height: 92px;

    font-size: 44px;
    line-height: 46px;
  }

}

@media screen and (max-width: 320px) {
  .place__header {
    font-size: 32px;
    line-height: 35px;
    width: 288px;
    height: 32px;
    margin: 0 0 32px 16px;
  }
}