.place__website {
  display: inline-block;
  align-self: flex-end;
  width: 456px;
}

@media screen and (max-width: 320px) {
  .place__website {
    display: flex;
    flex-direction: column;
    width: 288px;
    align-self: auto;
    margin: 0 0 32px 16px;
  }
}